ol.saves-data,
ol.difficulty-checks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
        display: grid;
        grid:
            'label label' auto
            'icon value' auto
            / 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 0 8px;
        border-right: 1px solid rgba(black, 0.3);

        .label {
            grid-area: label;
            h4 {
                font-family: var(--serif);
                font-size: 10px;
                font-weight: 500;
                padding: 0;
                text-align: center;
            }
        }
        svg {
            grid-area: icon;
            margin-right: 4px;
        }
        .data-value {
            grid-area: value;
            padding: 0;
            h2 {
                font-size: 16px;
                line-height: 1.6;
                width: initial;
            }
        }
        &:last-child {
            border-right: none;
        }

        & + li {
            border-left: 1px solid rgba(white, 0.1);
        }
    }
}

ul.sidebar-saves {
    @include p-reset;
    display: flex;

    .roll-data {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ffefbd30;

        &:first-child {
            border-left: none;
        }

        .save-label {
            font-size: 0.75rem;
            font-family: var(--sans-serif);
            font-weight: 400;
            text-transform: capitalize;
            color: var(--sidebar-label);
            border: none;
            margin-bottom: 2px;
        }

        .save-roll {
            @include flex-center;
            margin: 4px 0;

            h3 {
                margin: 0;
                margin-left: 2px;
            }
        }

        .button {
            box-shadow: inset 0 0 0 1px rgba(white, 0.4);
            background-color: var(--tertiary);
            color: var(--primary);
            padding: 2px;
        }
    }
}
